@page "/fsulist"
@layout Migration.Components.Layout.AuthenticatedLayout


<div class="main-content">
    <div class="card custom-card">
        <div class="card-header">
            <h3 class="card-title">FSU List</h3>
            <div class="card-tools d-flex">

                <input class="form-control form-control-sm" placeholder="Search..." />
                <NavLink class="btn btn-sm btn-outline-primary d-flex align-items-center flex-shrink-0 ms-2">Reload Data<i class="fi fi-rr-rotate-right ms-2"></i></NavLink>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-bordered table-striped mb-0 custom-badge">
                    <thead class="text-uppercase">
                        <tr>

                            <th>fsu id</th>
                            <th style="min-width:150px;">location details</th>
                            <th>frame pop./ HHD</th>
                            <th>SCH0.0 Status</th>
                            <th>Pendency Status</th>
                            <th>SCH</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>

                            <td>0717126405</td>
                            <td style="min-width:150px;">
                                <div class="d-flex align-items-start">
                                    <div class="text-secondary">
                                        <p class="m-0">FSU - <b>Kolkata MC</b></p>
                                        <div class="d-flex flex-column">
                                            <p class="m-0 fs-12"><span class="fst-italic">IV Unit - </span> <span class="text-primary">0210</span></p>
                                            <p class="mb-0 fs-12"><span class="fst-italic">Block - </span><span class="text-primary">008</span></p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>122</td>
                            <td class="custom-badge">
                                <small class="m-0 badge badge-outline badge-secondary bg-secondary">Pending</small>
                            </td>
                            <td>


                                <div class="badge badge-warning text-dark">
                                    12/17
                                </div>
                                <div class="d-flex align-items-center fs-12 text-mutes mt-2">
                                    <span class="bubble-dot bg-warning me-1"></span> In-Progress
                                </div>


                            </td>

                            <td style="min-width:20px;">
                                <div class="d-flex align-items-center">
                                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                                        @* <NavLink @onclick="@(() => HandleSelection("sch0.0", item.fsu_id))" class="btn btn-sm btn-outline-primary">SCH 0.0</NavLink> *@
                                        <NavLink class="btn btn-sm btn-primary me-1">0.0</NavLink>
                                        <NavLink class="btn btn-sm btn-primary" @onclick="@(() => navigationManager.NavigateTo("/ssulist"))">10.3</NavLink>
                                    </div>

                                </div>


                            </td>
                        </tr>
                        <tr>

                            <td>0717174305</td>
                            <td style="min-width:150px;">
                                <div class="d-flex align-items-start">
                                    <div class="text-secondary">
                                        <p class="m-0">FSU - <b>Kolkata MC</b></p>
                                        <div class="d-flex flex-column">
                                            <p class="m-0 fs-12"><span class="fst-italic">IV Unit - </span> <span class="text-primary">0210</span></p>
                                            <p class="mb-0 fs-12"><span class="fst-italic">Block - </span><span class="text-primary">008</span></p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>122</td>
                            <td class="custom-badge">
                                <small class="m-0 badge badge-outline badge-success">Submitted</small>
                            </td>
                            <td>


                                <div class="badge badge-secondary">
                                    17/17
                                </div>




                                <div class="d-flex align-items-center fs-12 text-muted mt-2">
                                    <i class="bi bi-circle-fill text-muted me-1 fs-7"></i> Pending
                                </div>


                            </td>

                            <td style="min-width:20px;">
                                <div class="d-flex align-items-center">
                                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                                        @* <NavLink @onclick="@(() => HandleSelection("sch0.0", item.fsu_id))" class="btn btn-sm btn-outline-primary">SCH 0.0</NavLink> *@
                                        <NavLink class="btn btn-sm btn-primary me-1">0.0</NavLink>
                                        <NavLink class="btn btn-sm btn-primary" @onclick="@(() => navigationManager.NavigateTo("/ssulist"))">10.3</NavLink>
                                    </div>

                                </div>


                            </td>
                        </tr>
                        <tr>

                            <td>0717231105</td>
                            <td style="min-width:150px;">
                                <div class="d-flex align-items-start">
                                    <div class="text-secondary">
                                        <p class="m-0">FSU - <b>Kolkata MC</b></p>
                                        <div class="d-flex flex-column">
                                            <p class="m-0 fs-12"><span class="fst-italic">IV Unit - </span> <span class="text-primary">0210</span></p>
                                            <p class="mb-0 fs-12"><span class="fst-italic">Block - </span><span class="text-primary">008</span></p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>122</td>
                            <td class="custom-badge">
                                <small class="m-0 badge badge-outline badge-warning">In-Progess</small>
                            </td>
                            <td>


                                <div class="badge badge-success">
                                    0/17
                                </div>

                                <div class="d-flex align-items-center fs-12 text-success mt-2">
                                    <i class="bi bi-circle-fill text-success me-1 fs-7"></i> Submitted
                                </div>


                            </td>

                            <td style="min-width:20px;">
                                <div class="d-flex align-items-center">
                                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                                        @* <NavLink @onclick="@(() => HandleSelection("sch0.0", item.fsu_id))" class="btn btn-sm btn-outline-primary">SCH 0.0</NavLink> *@
                                        <NavLink class="btn btn-sm btn-primary me-1">0.0</NavLink>
                                        <NavLink class="btn btn-sm btn-primary" @onclick="@(() => navigationManager.NavigateTo("/ssulist"))">10.3</NavLink>
                                    </div>

                                </div>


                            </td>
                        </tr>
                        <tr>

                            <td>0717232105</td>
                            <td style="min-width:150px;">
                                <div class="d-flex align-items-start">
                                    <div class="text-secondary">
                                        <p class="m-0">FSU - <b>Kolkata MC</b></p>
                                        <div class="d-flex flex-column">
                                            <p class="m-0 fs-12"><span class="fst-italic">IV Unit - </span> <span class="text-primary">0210</span></p>
                                            <p class="mb-0 fs-12"><span class="fst-italic">Block - </span><span class="text-primary">008</span></p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>122</td>
                            <td class="custom-badge">
                                <small class="m-0 badge badge-outline badge-success">Submitted</small>
                            </td>
                            <td>


                                <div class="badge badge-success">
                                    0/17
                                </div>






                                <div class="d-flex align-items-center fs-12 text-success mt-2">
                                    <i class="bi bi-circle-fill text-success me-1 fs-7"></i> Submitted
                                </div>


                            </td>

                            <td style="min-width:20px;">
                                <div class="d-flex align-items-center">

                                    @* <NavLink @onclick="@(() => HandleSelection("sch0.0", item.fsu_id))" class="btn btn-sm btn-outline-primary">SCH 0.0</NavLink> *@
                                    <NavLink class="btn btn-sm btn-primary me-1">0.0</NavLink>
                                    <NavLink class="btn btn-sm btn-primary" @onclick="@(() => navigationManager.NavigateTo("/ssulist"))">10.3</NavLink>


                                </div>


                            </td>
                        </tr>

                        <tr>
                            <td class="text-center" colspan="8"><div class="alert custom-alert alert-danger"><i class="fi fi-rr-triangle-warning me-2"></i> No Data Found</div></td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

@code {

}
